.grid {
	width: 100%;
	margin: 0 auto;
	letter-spacing: -0.31em;
	*letter-spacing: normal;
 	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
}

.opera-only :-o-prefocus, .grid {
 	word-spacing: -0.43em;
}

.home-content unit{
	margin:0;
}

.unit {
	display: inline-block;
	margin: 0 auto;
	zoom: 1;
	letter-spacing: normal;
	text-rendering: auto;
	vertical-align: top;
	word-spacing: normal;
	margin-bottom: 0px;
}

.unit-spacer {
	
	background-repeat:repeat;
	padding: 1em;
	margin-left:0px;
	}
	
.flex-img {
	display: block;
	width: 100%;
}


 @media only screen and (max-width: 36em ) {

.unit-s-hidden {
	display: none;
	visibility: hidden;
}
.unit-s-1 {
	display: block;
	text-align: center;
}
.unit-s-1-2 {
	width: 50%;
}
.unit-s-1-3 {
	width: 33.33333%;
	display:block;
}

.unit-s-2-3 {
	width: 66.66667%;
}
.unit-s-1-4 {
	width: 25%;
}
.unit-s-3-4 {
	width: 75%;
}


.unit-s-1-6 {
	width: 16.66667%;
}

}


@media only screen and (min-width: 26em) and (max-width: 60em) {

.unit-m-hidden {
	display: none;
	visibility: hidden;
}

.unit-m-1 {
	width: 98%;
	text-align: center;
}

.unit-m-1-2 {
	width: 50%;
}

.unit-m-1-3 {
	width: 33.33333%;
}

.unit-m-2-3 {
	width: 46.66667%;
}

.unit-m-1-4 {
	width: 25%;
}

.unit-m-3-4 {
	width: 50%;
}

.unit-m-1-6 {
	width: 16.66667%;
}

unit-x-1 {
	width:10%;
}

}


@media only screen and (min-width: 60em) {
.unit-l-hidden {
	display: none;
	visibility: hidden;
}
.unit-l-1 {
	width: 98%;
}
.unit-l-1-2 {
	width: 50%;
}
.p-unit-l-1-3 {
	width: 31.3333%;
	text-align: center;
	/*margin:1%;*/
}
.unit-l-1-3 {
	width: 33.3333%;

	text-align: center;
}
.unit-l-2-3 {
	width: 66.66667%;
}
.unit-l-1-4 {
	width: 25%;
	
}

.unit-l-1-5 {
	width: 20%;
	
}

.unit-l-3-4 {
	width: 75%;
}
.unit-l-1-6 {
	width: 16.66667%;
}
}
